ul
{list-style-type: square;
    color: green;}

p99
{content: "hi";}

P1:before {
    content: "Company is:  ";
    display: inline;
}
P1:after {
    content: "Steve is Still King for this second ONLY!! ";
    display: inline;
}

P1:value {
    content: "Steve is Still King!! ";
    display: inline;
}
body {
    background-color: yellow;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 40px;
}